<%# title "User" %>

<p>
  <strong>Name:</strong>
  <%=h @user.name %>
</p>
<p>
  <strong>Admin:</strong>
  <%=h @user.admin %>
</p>
<strong>Groups</strong>
  <% @user.groups.each do |group|%>
    <%= group.name %>
  <% end %>
<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>