<!DOCTYPE html>
<html>
<head>
  <title>IncludeJoin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= link_to "create_user", new_user_path %>
  <%= link_to "create_comment", new_comment_path %>
  <%= link_to "create_group", new_group_path %>

</head>
<body>

<%= yield %>

</body>
</html>
